* {
    /*padding: 0;
    margin: 0;*/
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background: linear-gradient(
            to right,
            lightgreen 25%,
            rgba(144, 238, 144, 0.66) 35% 100%

    );
}
.ik{
    margin: 5rem;
    gap: 5rem;
    display: flex;
    flex-direction: row;
    h1{
        margin-top: 15rem;
        font-size: 3rem;
        display: inline;
    }
    img{
        border-radius: 50%;
        height: 50vh;
    }
    p{
        width: 40vw;
        font-size: 1.5vw;
    };
}