* {
    /*padding: 0;
    margin: 0;*/
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background: linear-gradient(
            to right,
            lightgreen 25%,
            rgba(144, 238, 144, 0.66) 35% 100%

    );
}
.ik{
    margin: 5rem;
    gap: 5rem;
    display: flex;
    flex-direction: row;
    h1{
        margin-top: 15rem;
        font-size: 3rem;
        display: inline;
        width: 300px;
    }
    img{
        border-radius: 50%;
        height: 50vh;
        border: 5px solid black;
    }
    p{
        width: 40vw;
        font-size: 1.5vw;
    };
}

.logboek{
    display: flex;
    flex-direction: column;
    margin: 5rem;
    table,
    td {
        border: 2px solid black;
        font-size: 2.5rem;
        text-align: center;
    }

    table {
        border: 4px solid black;
        border-collapse: collapse;
    }

    th {
        font-size: 2.5rem;
    }

}
.article{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        font-size: 4rem;
        margin: 2rem;
    }
}
.vraagjes{
    margin: 5rem;
    table,

    td {
        border: 2px solid black;
        font-size: 2.5rem;
        text-align: center;
        word-wrap: break-word;
    }

    table {
        border: 4px solid black;
        border-collapse: collapse;
    }

    th {
        font-size: 2.5rem;
    }
}

.tbl{
    margin: 5rem;
    table,

    td {
        border: 2px solid black;
        font-size: 2.5rem;
        text-align: center;
        word-wrap: break-word;
    }

    table {
        border: 4px solid black;
        border-collapse: collapse;
    }

    th {
        font-size: 2.5rem;
    }
}
