* {
    /*padding: 0;
    margin: 0;*/
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background: linear-gradient(
            to right,
            lightgreen 25%,
            rgba(144, 238, 144, 0.66) 35% 100%

    );
}
.ik{
    margin: 5rem;
    gap: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    h1{

        font-size: 5rem;
        display: inline;

    }
    img{
        border-radius: 50%;
        height: 50vh;
        border: 5px solid black;

    }
    p{
        width: 40vw;
        font-size: 1.5vw;
    };
}
.intro-texst{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15%;
    word-wrap: break-word;

    p {
        width: 40vw;
        font-size: 1.5vw;
    }
}

.logboek{
    display: flex;
    flex-direction: column;
    margin: 5rem;
    table,
    td {
        border: 2px solid black;
        font-size: 2.5rem;
        text-align: center;
    }

    table {
        border: 4px solid black;
        border-collapse: collapse;
    }

    th {
        font-size: 2.5rem;
    }

}
.article{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        font-size: 4rem;
        margin: 2rem;
    }
}
.vraagjes{
    margin: 5rem;
    table,

    td {
        border: 2px solid black;
        font-size: 2.5rem;
        text-align: center;
        word-wrap: break-word;
    }

    table {
        border: 4px solid black;
        border-collapse: collapse;
    }

    th {
        font-size: 2.5rem;
    }
}

.tbl{
    margin: 5rem;
    table,

    td {
        border: 2px solid black;
        font-size: 2.5rem;
        text-align: center;
        word-wrap: break-word;
    }

    table {
        border: 4px solid black;
        border-collapse: collapse;
    }

    th {
        font-size: 2.5rem;
    }
}
.vijf-rollen-van-een-programmeur{
    display: flex;
    flex-direction: column;
    align-items: center;
     ul{
         padding-bottom: 5%;
         font-size: 2.5rem;
         word-wrap: break-word;
     }
    h2{
        font-size: 3rem;
    }
}
.ontwerper{
    display: flex;
    flex-direction: row;
    img{
        width: 20vw;
        border-radius: 50%;
    }
}
.programmeur{
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    img{
        width: 30vw;
        height: 50vh;
        border-radius: 50%;
    }
    table{
        width: 50vw;
        word-wrap: break-word;
        th{
            font-size: 2.5rem;
            align-items: center;
        }
        td {

            font-size: 2.5rem;
            text-align: center;
            word-wrap: break-word;
        }

    }
}
.tester{
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    flex-direction: row-reverse;
align-items: flex-start;
    padding: 50px;
}
.tester > h2{
    flex: 0 0  auto;
    order: 1;
}
.tester > ul{
    order: 0;
    flex: 1 1 auto;
}
.tester > img{
    order: 2; width: 20vw;
    border-radius: 50%;
}
.teams{
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    flex-direction: row;
    align-items: flex-start;
    padding: 50px;
}
.teams > h2{
    flex: 0 0  auto;
    order: 0;
}
.teams > ul{
    order: 1;
    flex: 1 1 auto;
}
.teams > img{
    order: 2; width: 20vw;
    border-radius: 50%;
}
.Voorbeelden-van-activiteiten{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    h2{
        font-size: 3rem;
    }
    ol{

        font-size: 2.5rem;
        word-wrap: break-word;
    }
}
.Voorbeelden-van-activiteiten1{
    display: flex;
    flex-direction: row;
    gap: 3rem;
 padding-bottom: 2%;

}
.Voorbeelden-van-activiteiten2{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding-bottom: 2%;
}
.Voorbeelden-van-activiteiten3{
    display: flex;
    flex-direction: row;
}
.pe-s{
    display: flex;
    flex-direction: column;
    padding: 5%;
    p{
        font-size: 2.5rem;
    }
    ul{
        font-size: 2.5rem;
    }

    h2{
        font-size: 3rem;
    }
}
.AIM-reflectie-op-WPL1{
h2{
    font-size: 3rem;
}
    h3{
        font-size: 2.5rem;
    }
    p{
        font-size: 2.5rem;
    }
    display: flex;
    flex-direction: column;
}
.Kernkwadrant{
    h2{
        font-size: 3rem;
    }
    h3{
        font-size: 2.5rem;
    }
    p{
        font-size: 2.5rem;
    }
    display: flex;
    flex-direction: column;
}